body {
 
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: #ebe1bc;
}

.interface {
  max-width: 600px;
  margin: 50px auto;
  padding: 25px;
  background: rgb(255, 251, 223);
  border-radius: 10px;
  box-shadow: 1px 5px 10px rgb(116, 107, 48);
}

h1{
  text-align: center;
  color: #202020;

  margin: 0;
}

h3{
    text-align: center;
    color: #202020;
    padding: 0;
    margin: 0;
}

h2{
    font-size: 24px;
}

.digitar {
    margin: 30px;
  display: flex;
  justify-content: center;
  
  margin-bottom: 20px; 
}

input, select, button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: rgb(255, 247, 187);
}

#btAdicionar {
  background-color: #f7ff89;
  color: rgb(0, 0, 0); 
}

#btAdicionar:hover {
  background-color: #ffe15e;
  color: rgb(255, 30, 0);
}
#btRemove {
  background-color: #e63838;
  color: rgb(0, 0, 0); 
  padding: 6px;
  
}

#containerDiv {
  width: 250px;               /* Largura da div */
  height: 30px;              /* Altura da div */
  background-color: #f0f0f0;  /* Cor de fundo da div */
  display: flex;              /* Usando flexbox para facilitar o layout */
  justify-content: center;    /* Alinhando o botão no centro horizontal */
  align-items: center;        /* Alinhando o botão no centro vertical */
  border-radius: 8px;         /* Bordas arredondadas */
  margin: 20px;               /* Margem externa */
  border: 2px solid #ccc;     /* Borda da div */
}

.postIt {
  display: flex;
  gap: 20px;
  text-align: center;
}

.MostraTarefa {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
}

#baixaPrio {
  background-color: #98ffb0;
}

#altaPrio {
  background-color: #ffaeb5;
}

.lista {
  list-style: none;
  padding: 0;
}

tarefaAdd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
}

tarefaAdd button {
  background-color: #dc3545;
  color: white;
  border-radius: 4px;
}