.container-fluid{
    background-color: rgb(0, 119, 255);
    
}
.navbar-expand-lg .bg-body-tertiary{
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
}
body{
    background-color: rgb(149, 225, 255);
    
    
    background-image: url(https://frutiger-aero.org/img/frutiger-aero-6.webp);
    background-repeat: no-repeat no-repeat;
    background-size: cover;
}
.imagens .imgs-l1{

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}
.imagens .imgs-l1 .im1{
    width: 14%;
    
}

    

.imagens .imgs-l2{

    display: flex; /* lembrete de usar isso pra manipular imagnes*/
    justify-content: center;
    align-items: center;

    width: auto;
    height: auto;
    
}

.foot{
    background-color: rgb(135, 221, 221);
    opacity: 0.5;
    position: fixed;
    display: flex;
    bottom: 0;
   
    height: 5%;
    text-align: center;

}
.foot .fot{
    color: rgb(34, 34, 34);
 
}
.foot .infos{
    background-color: rgb(135, 221, 221);
    align-items: center;
    
}
.text{
    color: rgb(37, 155, 155);
    position: fixed;
    display: flex;
    width: 100%;
    padding: 10%;
      
}