body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: 39%;
}

.f1{
    color: rgb(13, 146, 30);
    background-color: aliceblue;
}

.f2{
    color: red;
    background-color: aliceblue;
}

.txtAudio{
    color: chocolate;
    background-color: aliceblue;
}

h1{
    color: rgb(255, 17, 0);
    height: 9vh;
    border: 4px dashed rgb(235, 32, 32);
    background-color: antiquewhite;
    border-radius: 9px;  
}