*{
    margin: 0;
    padding: 0;
}

.fundo {
    background-image: linear-gradient(45deg, rgb(185, 101, 115), rgb(160, 173, 160));
    height: 100vh;
    color: rgb(17, 16, 17);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}


.calculadora {
    position: absolute;
    background-color: rgb(253, 253, 253.9);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}


.botao {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(185, 101, 115);
    border: none;
    color: azure;
}


.botao:hover {
    background-color: rgb(194, 132, 141);
}


#resultado {
    width: 207px;
    background-color: rgb(194, 132, 141);
    height: 30px;
    margin: 7px;
    font-size: 25px;
    color:azure;
    text-align: right;
    padding: 5px;


}